/*!
 * Start Bootstrap - Modern Business HTML Template (http://startbootstrap.com)
 * Develop By Tindik @ 2015
 */

/* Global Styles */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);

html,
body {
    height: 100%;
    background-color: #333333;
    font: normal 14px/22px 'Open Sans';
    color: #fff;
}

h1{
    font: bold 67px/77px 'Titillium Web', sans-serif;
    letter-spacing: -1px;
    color: #337ab7;
    text-transform: uppercase;
}

h2{
    font: bold 47px/57px 'Titillium Web', sans-serif;
    letter-spacing: -1px;
    color: #337ab7;
    text-transform: uppercase;
}

h3{
    font: bold 22px/32px 'Titillium Web', sans-serif;
    color: #337ab7;
    letter-spacing: -1px;
    text-transform: uppercase;
}

h4{
    font: bold 17px/27px 'Titillium Web', sans-serif;
    letter-spacing: -1px;
    color: #275f8f;
    text-transform: uppercase;
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

header.carousel {
    height: 600px;
    margin-top: -50px;
    margin-bottom: -50px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.breadcrumb{
    background-color: #252525;
}

.carousel-inner>.item>img{
    height: 100%;
}

.menu{
    margin-top: 30px;
    text-transform: uppercase;
}

.background-transparant{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.slide{
    margin-top: 20px;
}

.img-portfolio {
    margin-bottom: 30px;
}

.img-hover:hover {
    opacity: 0.8;
}

.navbar{
    border-bottom: none;
}

.error-404 {
    font-size: 100px;
}

.atas{
    height: 110px;
}
.atas-pendek{
    height: 0px;
}

.atas-pendek img{
    max-width: 80px;
    margin-top: -10px;
}

.atas-pendek .menu{
    margin-top: 0px;
}

.content-body{
    /*background-color: #fff;*/
    margin-top: 75px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    -webkit-box-shadow: 3px -2px 45px 17px rgba(0,0,0,0.31);
    -moz-box-shadow: 3px -2px 45px 17px rgba(0,0,0,0.31);
    box-shadow: 3px -2px 45px 17px rgba(0,0,0,0.31);
}

img.alignleft {
    margin: 5px 10px 10px 0;
    border: 15px solid #3f3f3f;
}
.alignleft {
    float: left;
    margin: 5px 20px 10px 0;
}
.list-event{
    margin-bottom: 25px;
    padding: 10px;
    padding-left: 0px;
}
.list-event:hover{
    background-color: #337ab7;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}
.month{
    text-align: right;
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: #fff;
}
.date{
    text-align: right;
    margin-top: 0px;
    padding-top: 0px;
    color: #fff;
}

.img-bottom{
    margin-bottom: 3px;
    float: none;
}

.navbar-right{
    font: bold 20px 'Titillium Web', sans-serif;
}
.icon-social{
    margin-right: 0px;
    padding: 10px;
    padding-top: 20px;
}
.icon-social:hover{
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    border-radius: 4px;
}
.fa{
    color: #fff;
}

.event-bottom{
    width: 140px;
    float: none;
    margin-bottom: 10px;
    margin-left: 5px;
}

#twitter-widget-0{
    height: 300px;
}

/* Footer Styles */

footer {
    border-top: 5px solid #030504;
    margin: 0px;
    margin-top: 0px;
    background-color: #101010;
}
footer a{
    color: #337ab7;
}
.footer{
    color: #fff;
    height: 50px;
    margin-top: 20px;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    h3{
        font: bold 22px/32px 'Titillium Web', sans-serif;
        color: #fff;
        letter-spacing: -2px;
        text-transform: uppercase;
    }

    h2{
        font: bold 47px/57px 'Titillium Web', sans-serif;
        letter-spacing: -2px;
        color: #fff;
        text-transform: uppercase;
    }

    .img-portfolio {
        margin-bottom: 15px;
    }

    .logo{
        max-width: 80px;
        margin-top: -10px;
    }

    .atas{
        height: 0px;
    }

    .navbar-collapse{
        margin-top: 0px;
    }

    .slide {
        margin-top: 0px;
    }

    header.carousel {
        display: none;
    }

    .content-body{
        margin-top: 0px;
    }

    footer{
        margin-top: 0px;
    }
}